.stroke-offset {
  fill-opacity: 1;
  strokeWidth: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    strokeWidth: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    strokeWidth: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    strokeWidth: 3px;
  }
  100% {
    strokeWidth: 0;
  }
}

.slide-top-pre {
  opacity: 0;
  margin-top: 100px;
}
.slide-top {
  animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-top {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 100%;
    margin-top: 0;
  }
}
